@using Timetable.DbContextModels
@using Timetable.Services
@model PaginatedList<Group>

@{
    ViewBag.Title = "Студентам";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Введите название группы (или часть, для поиска): <input type="text" name="searchString" value="@ViewData["searchString"]" />
            <input type="submit" value="Поиск" class="btn btn-default" />
        </p>
    </div>
</form>


<table class="table">
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>@(item.NameGroup)</h4>
            </td>
            <td>
                <a  class="btn btn-info">Подгруппа 1</a>
                <a  class="btn btn-warning">Подгруппа 2</a>
            </td>
        </tr>
    }
</tbody>
</table>

@{
    var prevDisabled = @Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = @Model.HasNextPage ? "disabled" : "";
}

<a  href="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["searchString"]"
   class="btn btn-default @prevDisabled">
    Предыдущая стр.
</a>

@*@Html.Action("Index", "Student", new { searchString = ViewData["searchString"], page = Model.PageIndex + 1 });*@
@Html.RenderAction("Index");
@*<a href="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["searchString"]"
   class="btn btn-default @nextDisabled">
    Следующая стр.
</a>*@